<div ng-cloak>
    <!--<md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button">
                <i class="material-icons white">accessibility</i>
            </md-button>
            <h2>
                <span>JP</span>
            </h2>
        </div>
    </md-toolbar>-->

    <md-content class="body-background" layout="column" flex>
        <div class="md-whiteframe-10dp header-image"></div>

        <div layout-align="center start" layout="row">
            <md-whiteframe class="md-whiteframe-15dp move-up frame-background rounded-corners" flex-xs flex-gt-xs="80" layout-padding layout-align="center start" ng-cloak>
                <div ng-cloak>
                    <md-content class="profile-content-background all-rounded-corners">
                        <profile-content></profile-content>
                    </md-content>
                </div>

                <div ng-cloak>
                    <md-toolbar class="md-default rounded-corners">
                        <div class="md-toolbar-tools">EDUCATION</div>
                    </md-toolbar>
                    <md-content layout-xs="column" layout="row">
                        <div flex-xs flex-gt-xs="50" ng-repeat="edu in model.education">
                            <education-card education="edu"></education-card>
                        </div>
                    </md-content>
                </div>

                <div ng-cloak>
                    <md-toolbar class="rounded-corners">
                        <div class="md-toolbar-tools">WORK EXPERIENCE</div>
                    </md-toolbar>
                    <md-content>
                        <div layout="column" flex ng-repeat="exp in model.work_experience">
                            <work-ex-section work="exp"></work-ex-section>
                        </div>
                    </md-content>
                </div>

                <div ng-cloak>
                    <md-toolbar class="rounded-corners">
                        <div class="md-toolbar-tools">PROJECTS</div>
                    </md-toolbar>
                    <md-content layout-xs="column" layout="row" layout-wrap flex>
                        <div flex-xs flex-gt-xs="25" ng-repeat="project in model.projects">
                            <project-card project="project"></project-card>
                        </div>
                    </md-content>
                </div>

                <div ng-cloak>
                    <md-toolbar class="rounded-corners">
                        <div class="md-toolbar-tools">TECHNICAL KNOWLEDGE</div>
                    </md-toolbar>
                    <md-content layout-padding class="overflow-hidden">
                        <div ng-repeat="skill in model.skills">
                            <technical-skills skill="skill"></technical-skills>
                        </div>
                    </md-content>
                </div>

                <div ng-cloak>
                    <md-toolbar class="rounded-corners">
                        <div class="md-toolbar-tools">INTERESTS</div>
                    </md-toolbar>
                    <md-content>
                        <section><ul>
                            <li ng-repeat="interest in model.interests">
                                {{interest}}
                            </li>
                        </ul></section>
                    </md-content>
                </div>
            </md-whiteframe>
        </div>
    </md-content>
</div>