<div class="container">
    <h1>Login</h1>
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <form name="loginForm" novalidate>
        <input ng-model="model.user.username" name="username" type="text" class="form-control" placeholder="Username" required/>
        <div>
            <span class="alert-danger" role="alert" ng-show="loginForm.username.$touched && loginForm.username.$invalid">
                <span class="fa fa-exclamation-circle"></span>Username required
            </span>
        </div>
        <input ng-model="model.user.password" name="password" type="password" class="form-control" placeholder="Password" required/>
        <div>
            <span class="alert-danger" role="alert" ng-show="loginForm.password.$touched && loginForm.password.$invalid">
                <span class="fa fa-exclamation-circle"></span>Password required
            </span>
        </div>
        <input type="button" class="btn user-pages-theme btn-block" value="Login"
           ng-click="model.login(model.user.username, model.user.password);"/>
        <input type="button" class="btn btn-success btn-block" onclick="location.href='#/register';" value="Register"/>
        <a href="/auth/facebook" class="btn btn-primary btn-block">
            <span class="fa fa-facebook"></span>Facebook
        </a>
    </form>
</div>