<nav class="navbar navbar-header navbar-fixed-top user-pages-theme">
    <a class="navbar-brand user-pages-theme stickyheader-title" href="#/user/{{model.user._id}}">
        Profile
    </a>
    <div class="navbar-text pull-right stickyheader-align-right">
        <a class="navbar-link" ng-click="model.updateProfile();">
            <span class="glyphicon glyphicon-ok user-pages-theme"></span>
        </a>
    </div>
</nav>


<div class="container">
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <div ng-show="model.success" class="alert alert-success" role="alert">
        {{model.success}}
    </div>
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username" type="text" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input ng-model="model.user.email" type="email" class="form-control" id="email" placeholder="Enter E-mail">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="model.user.firstName" type="text" class="form-control" id="first-name" placeholder="Your First Name">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="model.user.lastName" type="text" class="form-control" id="last-name" placeholder="Your Last name">
        </div>
    </form>

    <a class="btn website-pages-theme btn-block"
       href="#/user/{{model.user._id/website}}">Websites</a>
    <a class="btn btn-danger btn-block"
       href="#/login">Logout</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom user-pages-theme">
    <div class="container">
        <div class="row navbar-text">
        </div>
    </div>
</nav>