<div class="container">
    <form>
        <div class="form-group">
            <label for="text">Text</label>
            <div ng-model="model.widget.text" text-angular
                 ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
                 ['indent','outdent'],['html']]">
                <textarea class="form-control" id="text" placeholder="Enter text"></textarea>
            </div>
        </div>
    </form>

    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWidget();">Delete</a>
</div>