<div class="container">
    <form name="widgetEditForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" ng-model="model.widget.name" id="name" placeholder="Widget name" required>
            <div>
                <span class="alert-danger" role="alert" ng-show="widgetEditForm.name.$touched && widgetEditForm.name.$invalid">
                    <span class="fa fa-exclamation-circle"></span>Name required
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input type="text" class="form-control" ng-model="model.widget.text" id="text" placeholder="Enter text" value="US Senate Reaches Compromise on Emergency Zika Funding">
        </div>
        <div class="form-group">
            <label for="size">Size</label>
            <input type="text" class="form-control" ng-model="model.widget.size" id="size" placeholder="Heading size" value="3">
        </div>
    </form>

    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWidget();">Delete</a>
</div>