<div class="container">
    <form name="widgetEditForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" ng-model="model.widget.name" id="name" placeholder="Widget name" required>
            <div>
                <span class="alert-danger" role="alert" ng-show="widgetEditForm.name.$touched && widgetEditForm.name.$invalid">
                    <span class="fa fa-exclamation-circle"></span>Name required
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input ng-model="model.widget.text" class="form-control" id="text" />

            <label for="rows">Rows</label>
            <input ng-model="model.widget.rows" class="form-control" id="rows" type="number" />

            <label for="placeholder">Placeholder</label>
            <input ng-model="model.widget.placeholder" class="form-control" id="placeholder" />

            <input ng-model="model.widget.formatted" id="formatted" type="checkbox"/>
            <label for="formatted">Formatted</label>
        </div>
    </form>

    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWidget();">Delete</a>
</div>